services:
  db:
    image: postgres:17
    environment:
      TZ: Asia/Tokyo
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "rm -f tmp/pids/server.pid && bin/rails server -b 0.0.0.0"
    volumes:
      - .:/app
      - bundle_data:/usr/local/bundle
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/app_development
      TZ: Asia/Tokyo
      RAILS_ENV: development
    stdin_open: true
    tty: true

  css:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bin/rails tailwindcss:watch
    volumes:
      - .:/app
      - bundle_data:/usr/local/bundle
    depends_on:
      - web
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/app_development
      TZ: Asia/Tokyo
      RAILS_ENV: development
    stdin_open: true
    tty: true

volumes:
  postgres_data:
  bundle_data:
  node_modules: